body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
    width: 100%;
}